# Permitir acceso directo a archivos PHP en esta carpeta
<IfModule mod_rewrite.c>
  RewriteEngine Off
</IfModule>

# Permitir ejecución de PHP
<IfModule mod_php.c>
  php_flag engine on
</IfModule>

<FilesMatch "\.(php)$">
  Require all granted
</FilesMatch>
