<IfModule mod_php8.c>
  php_value open_basedir /var/www/html/album
</IfModule>
<IfModule mod_php7.c>
  php_value open_basedir /var/www/html/album
</IfModule>
<IfModule mod_php5.c>
  php_value open_basedir /var/www/html/album
</IfModule>
